<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Available cocktails</h1>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <ul>
        <% @cocktails.each do |cocktail|%>
          <li>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </li>
        <% end  %>
      </ul>
    </div>
  </div>
  <div class="row">
    <%= link_to 'Create a new cocktail', new_cocktail_path %>
  </div>
</div>
